<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hengam.Properties.Settings.hengamConnectionString" connectionString="Data Source=ST1;Initial Catalog=hengam;Persist Security Info=True;User ID=sa;Password=philips541khamid" providerName="System.Data.SqlClient"/>
        <add name="Hengam.Properties.Settings.HengamConnectionString1" connectionString="Data Source=ST2\SQLEXPRESS;Initial Catalog=Hengam;User ID=sa;Password=philips541khamid" providerName="System.Data.SqlClient"/>
        <add name="Hengam.Properties.Settings.HengamConnectionString2" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Hengam;User ID=sa;Password=philips541khamid" providerName="System.Data.SqlClient"/>
        <add name="Hengam.Properties.Settings.HengamConnectionString3" connectionString="Data Source=mehran-laptop\sqlexpress;Initial Catalog=Hengam;Integrated Security=True" providerName="System.Data.SqlClient"/>
    
      
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
 <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup></configuration>
